<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Prova</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('prova')}}">Prova</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('exe1')}}">Doc1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('doc1')}}">Solução1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('exe2')}}">Doc2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('chart')}}">Solução2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('exe3')}}">Doc3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('doc3')}}">Solução3</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder=" " aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
                formaction="{{ url_for('index')}}">Procurar</button>
        </form>
    </div>
</nav>