<!DOCTYPE HTML>
<html>

<head>
    <title>Prova</title>
</head>

<body>
    {% include '/includes/_header.html' %}
    <h3>Este site foi desenvolvido para publicação do conteudo da prova aplicada pela accenture.</h3>
    <a href="https://github.com/Edson-Fullstack/accenture.git">Repositorio</a><br />
    <a href="https://storage.cloud.google.com/bucket-b4969bc/backup-2824aaf?authuser=2">Google Storage</a><br />
    <a href="http://35.238.225.65">Link direto para o servidor</a><br />
    <a href="http://accenture-server.ml/">Teste DNS</a><br />
    <a
        href="https://docs.google.com/document/d/e/2PACX-1vSwqYo5LKmJXVPc_yHsitMtzuYliqXGjb7oDJiKxXcamI2LpU-H0uoT4KE65-Nvu19eqpZmZNdkl43c/pub?embedded=true">Prova</a><br />
    <a
        href="https://docs.google.com/document/d/e/2PACX-1vQiQynOeOeMrsheQTVNNXZzlhdAkBTjUCLKk04mQsDKodVIy1wnMd97CWwIge0QTcuQBVgnqLFqtfjm/pub?embedded=true">Documentação
        1</a><br />
    <a
        href="https://docs.google.com/document/d/e/2PACX-1vSZhb6BU4bzu9YM2BUTqTGGuUW1IFrdYO3MRON2w6LVvcNYhTW12BEtbPaDZW4Nzy5kUQmmVxGtPXOM/pub?embedded=true">Documentação
        2</a><br />
    <a
        href="https://docs.google.com/document/d/e/2PACX-1vRjombWRMYvF6qzfT02JqLUUSgW1ArNmTLrw9Hx6vrChUtHZ8VKJphcKD1wFqPJUgdp8u6qSG7Wg1mG/pub?embedded=true">Documentação
        3</a><br />
    {% include '/includes/_footer.html' %}
</body>

</html>